@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: monospace;
    background-color: rgb(23, 23, 23);
}

:root{
    --matrix-color: rgb(3, 160, 98);
    --whitish: #8892b0;
    --matrix-font: 'VT323', monospace;
    --monospace-font:  'Space Mono',"Fira Code","Fira Mono","Roboto Mono",monospace;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --very-light-navy: #233554;
    --headers: RGB(209,241,222);
}

header{
    width: 100%;
    height: 100px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color:var(--whitish);
    display: grid;
    place-items: center;
    position: fixed;
    top:0px;
    transition: height 0.3s ease-in-out;
    /* box-shadow: 0 10px 30px -10px var(--whitish); */
    z-index: 10;
    /* place-content: center; */
}

.scrolling{
    width: 100%;
    height: 70px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color:var(--whitish);
    display: grid;
    place-items: center;
    position: fixed;
    top:0px;
    box-shadow: 10px 0px 30px -10px var(--whitish);
    z-index: 10;
}

nav{
    display: flex;
    background: none;
    justify-content: space-between;
    width:90%;
    height: inherit;
    align-items: center;
    backdrop-filter: blur(10px);
}
ol{
    counter-reset: item;
}

nav div img{
    width:50px;
}

#root{
    display: grid;
}

ul{
    list-style: none;
    color:var(--whitish)
}

ol{
    list-style: none;
}

section{
    margin: 0px auto;
    padding:100px 0;
}

main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 170px 280px;
    border-top: 2px solid var(--matrix-color);
}

h1, h2, h3, h4, h5, h6{
    background: none;
}

.logo-div{
    background-color: transparent;
    left: 0;
    position: absolute;
}

.logo{
    background-color: transparent;
    width: 150px;
    height: 100px;
}

.hide {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

.menu{
    background-color: transparent;
    position: absolute;
    left:35%
}

.menu ol{
    display: flex;
    margin-left: 60%;
    background-color: transparent;
}

.menu ol li{
    padding-left: 35%;
    background-color: transparent;
}
.menu ol li a{
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    color: var(--whitish);
    background-color: transparent;
}

.menu ol li a:hover{
    color: var(--matrix-color);
}

.menu ol li a::before {
    content: "0" counter(item) ".";
    counter-increment: item;
    margin-right: 5px;
    color: var(--matrix-color);
    /* font-size: 1.5em; */
    text-align: right;
}
::before{
    box-sizing: inherit;
}

.btn-div{
    border: 2px solid var(--matrix-color);
    padding:0.65%; 
    color: var(--matrix-color);
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: rgb(23, 23, 23);
    position: absolute;
    right:0;
}

.btn-div:hover{
    color: var(--whitish);
    opacity: 0.6;
}

.left-side-bar{
    position: fixed;
    width:2%;
    bottom:0;
    left:5%;
}

.left-side-bar ul li{
    padding-bottom: 90%;
    cursor: pointer;
}

.left-side-bar ul li a{
    text-decoration: none;
    color: var(--whitish)
  }

.left-side-bar ul li a:hover svg, .inner-right-side-bar a:hover{
    color: var(--matrix-color);
    animation: move-up 0.2s ease-in-out forwards  1 alternate;
    animation: move-down 0.2s ease-in-out forwards;
}

@keyframes move-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }

@keyframes move-down {
    from {
      transform: translateY(-5px);
    }
    to {
      transform: translateY(0);
    }
 }

.left-side-bar::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--whitish);
}

.right-side-bar{
    position: fixed;
    width:2%;
    bottom:0;
    right:5%;
    color: var(--whitish);
}

.inner-right-side-bar{
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
}

.inner-right-side-bar a {
    margin: 20px auto;
    padding: 10px;
    font-size: 1rem;
    line-height:1px;
    letter-spacing: 0.2em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    cursor: pointer;
    text-decoration: none;
    color: var(--whitish)
}

.inner-right-side-bar::after {
    content: "";
    display: block;
    width: 1px;
    height: 75px;
    margin: 0px auto;
    background-color: var(--whitish);
}


.introduction {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 80vh;
}

.introduction .h2-div{
    position: relative;
    top:-20%;
    padding:none;
    margin:none;
    background-color: transparent;
}

.introduction h2 {
    color: var(--matrix-color);
    font-size: 23px;
    font-family: var(--matrix-font);
    font-weight: 400;
    padding-top: 0%;
}

.introduction .description{
    margin: 0px;
    font-size: 4.5rem;
}

.introduction h1{
    color: var(--headers)
}

.introduction h3{
    /* margin-top: 15px; */
    color: var(--whitish);
    line-height: 0.9;
}

.introduction p{
    font-size: 1.2rem;
    color: var(--whitish);
    margin-top:5%;
    margin-bottom:5%;
    max-width: 600px;
    display: block;
}

.div-btn-body{
    border: 2px solid var(--matrix-color);
    padding:15px;
    color: var(--matrix-color);
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    height:4rem;
}

.div-btn-body:hover{
    color: var(--whitish);
    opacity: 0.8;
}

.introduction .name-div{
    position: relative;
    top:-13%;
    padding:none;
    margin:none;
    background-color: transparent;
}

.introduction .description-div{
    position: relative;
    top:-10%;
}

.introduction .introduction-div{
    position: relative;
    top:-6%;
}

#about{
    max-width: 900px;
}

.about-me{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
}

.about-me::before {
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--matrix-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.about-me::after {
    content: "";
    display: block;
    position: relative;
    top: -16px;
    width: 300px;
    height: 1px;
    left: 24%;
    background-color: var(--very-light-navy);
}

#about h2 {
    display: block;
    font-size: 2.5rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--headers)
}

#about .inner{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 50px;
}

#about p{
    margin: 0px 0px 15px;
    font-size: 20px;
    color: var(--whitish)
    /* font-family: var(--matrix-font); */
}

#about p:last-child, p:last-of-type {
    margin: 0px;
}

#about .skills{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

#about .inner .inner-inner .skills li{
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: 15px;
}

#about .inner .inner-inner .skills li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--matrix-color);
    font-size: 14px;
    font-weight: bolder;
}

.image-wrapper{
    max-width:350px;
    max-height: 350px;
    min-width: 350px;
    min-height: 350px;
    width:350px;
    height: 350px;
    position: relative;
    border-radius: 5px;
    margin-top: 15%;
}

.image-wrapper img{
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
    border-radius: 5px;
}

.image-wrapper .overlay, .project-image .overlay, .second-project-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--matrix-color);
    transition: .5s ease;
    mix-blend-mode:overlay;
    border-radius: 5px;
  }

  .image-wrapper:hover .overlay, .project-image:hover .overlay, .second-project-image:hover .overlay{
    display: none;
    transform: translateX(-3px);
    transition: .5s ease;
    -webkit-transform: translateX(-3px);
  }

.image-wrapper img:hover, .project-image img:hover, .second-project-image img:hover{
    box-shadow:
    1px 1px var(--matrix-color),
    2px 2px var(--matrix-color),
    3px 3px var(--matrix-color),
    4px 4px var(--matrix-color),
    5px 5px var(--matrix-color),
    6px 6px var(--matrix-color);
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
    }

#jobs{
    max-width: 700px;
    color:var(--whitish);
}

.heading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 2.5rem;
    white-space: nowrap;
    color: var(--headers);
}
.heading:before {
    position: relative;
    counter-increment: section 2;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--matrix-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.heading:after{
    content: "";
    display: block;
    position: relative;
    top: -50%;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--very-light-navy);
}

#jobs .inner{
    min-height:340px;
    display: flex;
}

#jobs .inner .job-tabs{
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#jobs .inner .job-tabs button{
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    /* transition: background-color 0.5s ease, color 0.5s ease; */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    border: none;
    border-left: 2px solid var(--very-light-navy);
    background-color: transparent;
    /* background: none; */
    color: #8892b0;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
}

#jobs .inner .job-tabs button span{
    background: transparent;
}
#jobs .inner .job-tabs button:active, #jobs .inner .job-tabs button:hover{
    background-color: rgba(70, 92, 99, 0.5);
    color:var(--matrix-color)
}

#jobs .inner .job-tabs button:focus{
    border-left: 4px solid var(--matrix-color);
    background-color: rgba(70, 92, 99, 0.5);
    color:var(--matrix-color)
}

#jobs .inner .outer-job-description-div{
    position: relative;
    width: 100%;
    margin-left: 20px;
}

#jobs .inner .inner-job-description-div{
    width: 100%;
    height: auto;
    padding: 10px 5px;
    transition: height 0.5s ease-out;
}

.inner-job-description-div h3{
    margin-bottom: 2px;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.3;   
}

.inner-job-description-div .range{
    margin-bottom: 25px;
    color: var(--whitish);
    font-size: 13px;
}

.inner-job-description-div ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 18px;
}

.inner-job-description-div ul li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.inner-job-description-div ul li:before{
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--matrix-color);
}

.inner-job-description-div h3 a.inline-link{
    position: relative;
    text-decoration: none;
    color: var(--matrix-color)
}

.inner-job-description-div h3 .company .inline-link:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--matrix-color);
        color:var(--matrix-color);
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.3s ease-out;
}

.inner-job-description-div h3 .company .inline-link:hover::after{
    transform: scaleX(1);
}

#projects{
    height: 100%;
}

.projects-ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.projects-ul .the-grid{
    margin-bottom: 100px;
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.projects-ul .the-second-grid{
    margin-top: 50%;
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.project-image{
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    z-index: 1;
    width:579px;
    height:362px;
    position: absolute;
    margin-top:88%;
    margin-left: -73%;
}

.second-project-image{
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    z-index: 1;
    width:579px;
    height:362px;
    position: absolute;
    margin-top:88%;
    margin-right: 0%;
}

.project-image img{
    width:inherit;
    height:inherit;
    transition: .5s ease;
}

.second-project-image img{
    width:inherit;
    height:inherit;
    transition: .5s ease;
}

.projects-ul .project-content{
    position: absolute;
    right:0;
    margin-top:53%;
    width:495px;
    height:310px;
    justify-content:flex-end;
    text-align: right;
    display: flex;
}

.projects-ul .second-project-content{
    position: absolute;
    left:0;
    margin-top:53%;
    width:495px;
    height:310px;
    justify-content:flex-end;
    text-align: right;
    display: flex;
}

.projects-ul .feature{
    margin: 10px 0px;
    color: var(--matrix-color);
    font-size: 18px;
    font-weight: Bolder;
}

.projects-ul .second-feature{
    margin: 10px 0px;
    color: var(--matrix-color);
    font-size: 18px;
    font-weight: Bolder;
    text-align: left;
}

.projects-ul .title{
    font-size: 28px;
    color: var(--headers);
    margin-bottom: 2%;;
}

.projects-ul .second-title{
    font-size: 28px;
    color: var(--headers);
    margin-bottom: 2%;
    text-align: left;
}

.projects-ul .project-content .project-description p, .projects-ul .second-project-content .second-project-description p {
    background: none;
}

.projects-ul .project-content .project-description, .projects-ul .second-project-content .second-project-description {
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: var(--very-light-navy);
    color: #a8b2D1;
    font-size: 18px;
    margin-bottom:3%;
}

.projects-ul .project-tech-stack{
    position: relative;
    z-index: 3;
    background-color: transparent;
    display: flex;
    padding: 0px;
    justify-content: flex-end;
    list-style: none;
    margin-bottom:4%;
}

.projects-ul .second-project-tech-stack{
    position: relative;
    z-index: 3;
    background-color: transparent;
    display: flex;
    padding-left: 0px;
    justify-content: flex-start;
    list-style: none;
    margin-bottom:4%;
}

.projects-ul .project-tech-stack li{
    margin:0;
    display: flex;
    justify-content: flex-end;
    width:60px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right:0px;
}

.projects-ul .second-project-tech-stack li{
    margin:0;
    display: flex;
    justify-content: flex-start;
    width:60px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right:0px;
}

#contact{
    color: white;
    margin-top: 50%;
    max-width: 600px;
    height: 60vh;
    text-align: center;
}

#contact .contact{
    display: block;
    margin-bottom: 50px;
    color: var(--matrix-color);
    font-size: 1.5rem;
    font-weight: 400;
    -webkit-box-align: center;
    align-items: center;
}

.contact::before{
    position: relative;
    counter-increment: section 4;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--matrix-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.contact-description{
    font-weight: 600;
    color: var(--headers);
    line-height: 1.1;
    font-size: 3rem;
    padding-bottom: 10%;
}

.contact-text{
    color: var(--whitish);
    font-size: 18px;
    padding-bottom: 10%;
}

.contact-link{
    color: var(--matrix-color);
    background-color: transparent;
    border: 1px solid var(--matrix-color);
    border-radius: 5px;
    padding: 1.25rem 1.75rem;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}

.contact-link:hover{
    color: var(--whitish);
    opacity: 0.6;
}



/* .projects-content:nth-of-type(2n+1) .project-tech-stack {
    -webkit-box-pack: end;
    justify-content: flex-end;
} */
